
Project Prototype/DBMS Project/.vs/DBMS Project/v16/Server/sqlite3/db.lock
Project Prototype/DBMS Project/DBMS Project/bin/Debug/DBMS Project.exe.config
Project Prototype/DBMS Project/DBMS Project/obj/Debug/DBMS Project.csproj.FileListAbsolute.txt
Project Prototype/DBMS Project/DBMS Project/obj/Debug/DBMS Project.csproj.GenerateResource.cache
Project Prototype/DBMS Project/DBMS Project/obj/Debug/DBMS Project.csprojAssemblyReference.cache
Project Prototype/DBMS Project/DBMS Project/obj/Debug/DBMS Project.csprojAssemblyReference.cache
Project Prototype/DBMS Project/DBMS Project/obj/Debug/DBMS Project.exe
Project Prototype/DBMS Project/DBMS Project/obj/Debug/DBMS_Project.Properties.Resources.resources
Project Prototype/DBMS Project/DBMS Project/obj/Debug/DBMS_Project.Form1.resources
Project Prototype/DBMS Project/DBMS Project/obj/Debug/DBMS Project.csprojAssemblyReference.cache
*.cache
Project Prototype/DBMS Project/.vs/DBMS Project/v16/.suo
Project Prototype/DBMS Project/.vs/DBMS Project/v16/.suo
Project Prototype/DBMS Project/.vs/DBMS Project/v16/Server/sqlite3/storage.ide
Project Prototype/DBMS Project/.vs/DBMS Project/v16/.suo
Project Prototype/DBMS Project/.vs/DBMS Project/v16/Server/sqlite3/storage.ide-shm
Project Prototype/DBMS Project/DBMS Project/obj/Debug/DBMS Project.csproj.CoreCompileInputs.cache
Project Prototype/DBMS Project/DBMS Project/obj/Debug/DBMS Project.csprojAssemblyReference.cache
Project Prototype/DBMS Project/DBMS Project/obj/Debug/DBMS Project.csprojAssemblyReference.cache
Project Prototype/DBMS Project/.vs/DBMS Project/v16/TestStore/0/testlog.manifest
Project Prototype/DBMS Project/.vs/DBMS Project/v16/TestStore/0/000-0000.testlog
