<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBMS_Project.Properties.Settings.Project_FinlayConnectionString"
            connectionString="Data Source=LAPTOP-PBLF4VVJ\SQLEXPRESS;Initial Catalog=Project-Finlay;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBMS_Project.Properties.Settings.Project_Finlay_new_ConnectionString"
            connectionString="Data Source=LAPTOP-PBLF4VVJ\SQLEXPRESS;Initial Catalog=Project-Finlay(new);Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBMS_Project.Properties.Settings.ProjectConnectionString"
            connectionString="Data Source=LAPTOP-PBLF4VVJ\SQLEXPRESS;Initial Catalog=Project;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>